<div class="card">
    <div class="card-body">
        <h5 class="card-title">Psy w armii radzieckiej</h5>
        <p class="card-text text-justify"> Tak, głodziliśmy psy, na wielką skalę. A potem je tresowaliśmy, aby wbiegały pod czołgi i
            detonowały przymocowane do siebie ładunki. Wszystko szło dobrze, nie były specjalnie skuteczne, ale lepiej,
            żeby to one ginęły niż towarzysze. Jedna bitwa, w której jeden mój błędny rozkaz doprowadził do strat wśród
            towarzyszy i naszych sił pancernych. To wszystko zmieniło.<br>
            Zbliżały się do naszych pozycji spore oddziały niemieckie, głównie czołgi. Zauważyłem, że nie zdążymy
            ustawić się z psami na właściwej pozycji. Z tyłu nadjeżdżała nasza dywizja pancerna, rozkazałem spuścić psy,
            lecz głupie zwierzęta zamiast biec do przodu pobiegły w kierunku naszych czołgów. Zniszczyły kilka naszych
            egzemplarzy, ale żadnego faszystowskiego.<br>
            Przegraliśmy bitwę, przez jedną błędną decyzję jednego człowieka – mnie. Straciłem swoją ciepłą posadkę w
            ośrodku szkoleniowym, który po niedługim czasie zamknęli. Teraz pracuję w łagrze, na szczęście jestem
            jeszcze przydatny społeczeństwu.<br>
            W jedności siła! Niech żyje towarzysz Stalin!
        </p>
    </div>
</div>