<div class="d-flex my-5 p-0">
    <img class="card-img-top mybaner position-fixed m-0"
        src="https://firebasestorage.googleapis.com/v0/b/pik1-page.appspot.com/o/obrazki%2Fmaxresdefault.jpg?alt=media&token=765a937f-bc21-4022-9b0d-1b674d132cde"
        alt="zarąbiste zdjęcie">
</div>

<div class="container-fluid bg-separator m-10">

</div>

<div class="container-fluid bg-body m-0">

</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="card border shadow mycard w-75">

        <router-outlet></router-outlet>
    </div>
</div>