<div class="card">
    <div class="card-body">
        <h5 class="card-title">Chessclub part2</h5>
        <p class="card-text text-justify">He again came to neighbour’s apartment. He took the envelope with the will. He was a
            graphologist, so he knew a few methods to fake the document. He
            also had an artistic talent, so writing the new last will also wasn’t a problem. <br>
            He brought a piece of blank paper, like it from this envelope. He was working hard and precisely to have an
            ideal fake copy with changed name of inheritor. He quietly came back to Patrick’s apartment and he left the envelope
            on the table. He  came out fast, he closed the door and at this moment he heard the sound of steps on the
            stairs to the floor where his and Patrick’s apartments were. He fast ran to his home and closed the
            door.<br>
            He was looking at the passage through the eyehole when Patrick came. He behaved normal, he didn’t suspect
            anything.<br>

            On the next day was the legal case about the last will of Jonah McGregor. There were five graphologist
            requested to analyse the document.<br>
            The first one after comparing one of Jonah’s letters and the last will said:<br>
            - I think the last will has been written by Jonah McGregor.<br>
            Then came second one graphologist and he predicated same but when third and forth ones came, they said they were sure
            that document isn’t the last will of Jonah McGregor. The fifth and last graphologist's opinion was decisive, he said the
            document is fake. The first suspect of make fake copy is person whose name is in the inauthentic last will. The
            name of Matthias Rede who was known in the city for playing in the chessclub “Under the hangman”.<br>

            Matthias was very prescient, he was following news from the courthouse from Norway where he came few hours
            later after changing documents. If he was respected as inheritor, he would come back to England. But he
            wasn’t so he sold the most things and he started packing to go to Peru.<br>

            Matthias was in the airport, he was going to get into the plane but the police stopped him in airport hall and
            said:<br>
            - Sir, go with us, please.<br>

            Matthias case was very fast. The court said he is quilty and he was sentenced to ten years of prison. He was
            very angry at him. “I should go to South America before the case” – he thought. The last will of Jonah
            McGregor has been found at Matthias’s home and Patrick got his relative’s legacy.<br>
    </div>
</div>