<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział IV</h5>
        <p class="card-text text-justify">Zaczęliśmy od pizzy i napoi, potem zagraliśmy w bilarda. Grało się dobrze,
            Weronika grała najlepiej, mówiła, że wcześniej nie miała za wiele styczności z tą grą. Potem pograliśmy w
            karty, a następnie zeszliśmy zagrać w kręgle. Nie szło mi za dobrze poprzednim razem szło mi lepiej. Trudno,
            najważniejszy jest czas spędzony ze znajomymi. Próbowałem, trochę więcej pogadać z Weroniką, ale mi się nie
            udało.<br>
            Kolejnego dnia, kiedy ją odprowadzałem po szkole, powiedziała słynne zdanie, ale ubrała je w inne słowa, tu
            cytat: „Wolałabym, aby nasze relacje zostały na stopie koleżeńskiej”. Cóż w pierwszej chwili trochę
            zabolało, może też nieodpowiednio zareagowałem na jej wypowiedź. W nocy nie mogłem spać, obracałem każde
            zdanie wypowiedziane przeze mnie przy niej, co mogłem zrobić lepiej, lub czego nie robić. W pewnym momencie
            zasnąłem, lecz gdy się obudziłem około 4, nie byłem nawet tego świadomy. Cóż jestem typem człowieka, który
            sam siebie będzie obwiniał w większości przypadków, nawet, jeśli to nie jest za bardzo jego wina. We wtorek
            spotkałem się z kolegą na pizzy, pogadaliśmy, pomogło mi to trochę przetrawić, no cóż tamto wydarzenie.<br>
            Potem przez najbliższe 2 tygodnie byłem dość rozkojarzony, wpadły dwie czwóry z matmy, jedyne błędy na tych
            sprawdzianach to błędy związane z brakiem skupienia. W okolicach 30 marca zaczynam, słuchać muzyki, to już
            zupełnie pomaga mi się oderwać od tego, co się wydarzyło.
        </p>
    </div>
</div>