<div class="card">
    <div class="card-body">
        <h5 class="card-title">Legionista (hastati)</h5>
        <p class="card-text text-justify">Służyłem w legionie pod znakiem wilka. Walczyliśmy w Galii pod wodzą Juliusza Cezara. Drogi
            przez które przechodziliśmy byłe opustoszałe, a naokoło były tylko bujne lasy, mógłby okryć się tam cały
            oddział wroga, a byśmy nawet go nie zauważyli. Było nas 10 centuri hastati, 3 centurie principes i 1
            centuria triarii, oprócz głownych sił szły z nami oddziały pomocnicze liczące około 500 leves i 100 nagich
            wojowników zrekrutowanych z plemion które mijaliśmy, a nie były zbyt wrogo nastawione, a w za sowitą opłatą
            nawet chętne do współpracy. A dowódca był w jedynym naszy oddziale kwalerii liczącym 30 konnych. <br>
            Po 6 godzinnym marszu dotarliśmy do pierwszej wioski jaką widzieliśmy od rana. Lecz jej widok nas zdziwił,
            nikogo w niej nie było, tak nam się przynajmniej zdawało przez panującą wokoło ciszę i bezruch. W centrum
            wioski zauważyliśmy obszerny plac, z miejscem na ognisko, a nieopodal ogniska znajdował się dom zebrań
            (wnioskowałem to po tym, że był to największy budynek w całej wiosce). Dom zebrań został zajęty przez
            oddział dowódcy i triarii – ze względu na ich rangę powinni zająć najlepsze miejsce. Principes rozłożyli
            namioty okrążając dom zebrań, my (hastati) natomiast rozłożyliśmy skóry, które służyły nam za posłania,
            wokół principes. Leves i tubylcy zajęli pomniejsze domy, lecz i tak wiele pozostało wolnych, widocznie to
            nie była jakaś mała wioska, lecz całe miasto. Wolne domy były głównie na krańcach wioski. Przez noc 1
            centuria hastati miała stać na straży rodzielona na każdą bramę prowadzącą, a były 3, więc 20 żołnierzy
            pilnowało każdej. Każdy ze strażników był w pełnym uzbrojeniu, tzn. scutum, dwie pile i gladius. Centuria do
            której należałem miała wartę jako pierwsza. Podczas nasze warty nic się nie działo, lecz podczas zmiany
            usłyszałem odgłosy walki dobiegające z tyłu, byliśmy gdzieś w połowie drogi między bramą a centrum
            obozowiska, za 100 metrów bylibyśmy już między swiomi. Zostałem wysłany aby obudzić naszą armię. Pozostała
            część mojego oddziału ustawiła się tak, że zupełnie blokowała główną drogę. Ustawili tak równą ścianę z
            tarcz, że niektózi architekci mogliby żałować, że nie potrafią takiej postawić. Nie zdążyłem przebiec nawet
            połowy drogi, a wyskoczyłe na mnie jeden z nagich mieczy, ku przerażeniu poznałem go, to był jeden z tych
            których zrekrutowaliśmy. <br>
            Zamachnął się mieczem, odparowałem cios tarczą, w ręce miałem pilę, nie miałem czasu wyciągnąć miecza,
            uderzyłem go tarczą w twarz i wbiłem mu oszczep trafiając w szyję, krew polała się naokoło. Wyrwałem oszczep
            z nieruchomego ciała i z jeszcze większym pośpiechem popędziłem do obozu. Po około minucie byłem już w
            obozie i budziłem wszystkich co mijałem. Po około 5 minutach wszyscy hastati zostali obudzeni przez krzyki,
            jeszcze pobiegłem do domu zebrań aby obudzić wodza. Rozkazał ustawić po 1 centurii na każdej drodze
            prowadzącej do bramy, reszta miała ustawić się w czworoboki. Po 10 minutach zauważyłem wycofujących się
            żołnierzy z mojej centurii zostało nas około 40, ustawiliśmy się według rozkazu. Słysząc krzyki przybyli
            również leves, którzy ustawili się w większości za hastati broniącymi drogi, lecz reszta dostała rozkaz aby
            ustawić się w środku czworoboków. Po kolejnych 5 minutach oczekiwania i nie pojawiających się wrogach,
            zauważyliśmy uciekające niedobitki, tych co mieli mieć teraz wartę. <br>
            Byliśmy okropnie zmęczeni, czekaliśmy w takim ustawieniu około 2 godzin, aż w końcu przybyli wrogowie.
            Biegli nadzy prosto na nasze oddziały. Hastati wyrzucili pile dalekie, a następnie pile bliskie, mocno
            przerzedzając szeregi wroga. Natychmiast po wyrzuceniu swoich oszczepów hastati zwarli szyk i ustawili się
            murem. Teraz oszczepy poleciały w ich stronę, większość wbiła się w tarcze, lecz kilka trafiło w cel, od
            razu nastąpiło przesunięcie się, uzupełniające ścianę. Leves cały czas rzucali swoimi oszczepami. Galowie w
            końcu wpadli w rozsypkę i zaczęli uciekać. <br>
            Wtedy nastąpiła rzecz niesłychana, okropna wręcz. Zauważyliśmy płonący pocisk rozdzierający niebo lecący
            prosto na jedną centurię principes. Prawie nikt z nich nie przeżył. Zrozumieliśmy - wróg ma onagery. Wódz
            stwierdził, że nie ma co zostawać w miejscu, jest to zbyt niebezpieczne. <br>
            - Żółw! – usłyszeliśmy jego rozkaz. <br>
            W ciągu może 10 sekund byliśmy ustawieni w odpowiedni szyk. Centuria które blokowała drogę rozsunęła się
            przepuszczając nas, po przejściu przez utworzone przez nich przejście, rozszerzyliśmy szyki, aby zająć całą
            ulicę. Tamci ustawili się za nami przedłużając naszego “żółwia”. U bramy zauważyliśmy zwarty szyk
            barbarzyńców, oni również nas zauważyli, bo w naszą stronę poleciały oszczepy, strzały i kamienie z proc. <br>
            Nie narobili nam za wiele szkód, szliśmy niezmordowanie dalej. Dotarliśmy w pobliże linii wroga (jakieś 15
            metrów od nich byliśmy) leves idący za nami, dostali od strzał i kamieni, ale już zaczęli rzucać we wrogów
            oszczepami. My również wyjęliśmy oszczeby i zaczeliśmy biec w stronę wroga, nie trzymając już szyku, w
            odległości 10 metrów rzuciliśmy nasze pierwsze pile (ci co jeszcze je mieli, czyli nie bronili ulicy tylko
            stali w czworoboku), w odległości 5 metrów rzuciliśmy drugie, tak przerzedzając ich szyki dotarliśmy do
            nich. <br>
            Jeden z wrogów na mnie skoczył, przerzuciłem go tarczą do tyłu, mój kolega za mną go dobił. Przebijaliśmy
            się dalej, skoczył na mnie drugi lecz nabił się na wystawiony przeze mnie miecz. Zauważyłem onager, krzykiem
            oznajmiłem reszcie o znalezisku. Skupiliśmy się aby przebić się do niego, kiedy do niego dotarliśmy,
            walczyliśmy już z obrońcami onagera dotarli do nas hastati którzy przebili sie przez pozostałe bramy. Onager
            został przejęty, a wróg albo był martwy, albo uciekał. <br>
            Po przeliczeniu strat okazało się, że zostało nas 6 centurii hastatich, 2 centurie principes i około 10 z
            większości poległej, natomiast trarii i eskorta wodza nie odniosła żadnych strat. Pozostało nam około 300
            leves. Wódz stwierdził, że trzeba powrócić do Italii aby uzupełnić oddziały.
        </p>
    </div>
</div>