<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <div class="card ">
            <div class="card-body">
                <h5 class="card-title">O mnie</h5>
                <p class="card-text" ><a href="https://www.jeja.pl/user,piotrkacz">Moje konto jeja</a><br>nick na steam to 123pik1</p>

            </div>
        </div>
        <div class="col-3">
            
        </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ulubione gry</h3>
                    <h6 class="card-text"><h6>Wiedźmin 2 i 3</h6>
                        <h6>Cywilizacje 5 i 6</h6>
                        <h6>Total War-y, a zwłaszcza TWRome2</h6>
                        <h6>Factorio</h6>
                        <h6>M&B (wszystkie są zarąbiste)</h6>
                        <h6>Kozacy 3</h6>
                        <h6>BF1 (jako medyk) (5 mi mniej podeszła)</h6>
                        <h6>Tomb Raider (te części co były rozdawane na Sylwestra 2021)</h6>
                        <h6>Heroes 5</h6>
                        <h6>CS:GO (niby najgorsza gra, a człowiek nie może przestać w nią grać)</h6>
                </h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ulubieni autorzy książek lub wybrane książki</h3>
                    
                    <h6 class="card-text">
                      <h6>  Karol May (dzieciństwo)</h6>
                      <h6>   Alfred Szklarski (również jeden z autorów mojego dzieciństwa)</h6>
                      <h6> Andrzej Sapkowski (oceniam po twórczości, nie po zachowaniu)</h6>
                      <h6>Remigiusz Mróz (głównie seria o Chyłce i Forście, Parabellum też było dla mnie ciekawe)</h6>
                      <h6>Asimov Isaac ("Fundacja" - piękna seria)</h6>
                      <h6>Alistair MacLean</h6>
                      <h6>Douglas Adams (serią "Autostopem przez galaktykę" idealnie trafił w moje poczucie humoru)</h6>
                      <h6>Roland Topor (jedynie "Chimeryczny lokator", "Święta księga cholernego Proutto" oraz "Cztery róże dla Lucienne")</h6>






                    </h6>
                </div>
            </div>
        </div>
    </div>



</div>
