<div class="card">
    <div class="card-body">
        <h5 class="card-title">Husarz</h5>
        <p class="card-text text-justify"> Przybyłem do Krakowa razem z moją służbą. W niedługim czasie mieliśmy wyruszyć w stronę
            Wiednia, czekaliśmy jedynie na oddziały z Litwy. Kolejnego dnia, ku zaskoczeniu większości oficerów, król
            Jan III Sobieski wydał rozkaz do wymarszu. W Tulln połączyliśmy się z siłami austriackimi i osłabionym
            konfliktem z Francją, wojskami niemieckimi. Na szczęście dowództwo otrzymał nasz król, a nie jakiś pruski
            książę. Po przeprawie Sobieski zostawił siły sojusznicze z rozkazem nacierania na Tureckie umocnienia
            poprzez pagórkowaty teren. <br>
            Nasze siły przeprawiły się w ciągu 2 dni przez Las Wiedeński, ciury rozstawiły armaty i rozpoczął się
            ostrzał. Każdy z Polaków założył słomiane opaski na ramię, aby przypadkiem swojego nie trafić. Po jedenastu
            godzinach zaczęliśmy przygotowywać się do szarży. Służba pomagała ubrać pancerze, przynosiła kopie z
            królewskich wozów. Miałem ubrany szyszak przystrojony piórami, zwykły pancerz husarski, a do tego na
            ramieniu (oprócz słomianej opaski) lamparcią skórę. Wsiadłem na konia, po chwili jeden z ciurów przyszedł i
            przymocował skrzydło z jastrzębich piór do siodła. Za pasem miałem pistolet oraz szablę. W ręku trzymałem
            pikę długą na 5 i pół metra z proporcem zaledwie o połowę krótszym. Król poprowadził nas, ruszyliśmy kłusem
            w rozciągniętym szyku, następnie przeszliśmy w cwał. Sobieski przesunął się na tyły, zaczęły latać kule,
            pierwsza salwa nic nam nie zrobiła, prawie nikt nie spadł z konia, jechaliśmy dalej. Nastąpiła kolejna salwa
            tym razem trochę koni padło z połamanymi nogami lub martwe. Pachołkowie szybko doprowadzili nowe konie dla
            tych co spadli i już po chwili podążali za resztą. Szybko ściaśniliśmy szyk, lewym kolanem dotykałem boku
            konia, prawym dotykałem drugiego husarza. Wpadliśmy jak burza w środek muzułmańskiej piechoty, nie byli w
            stanie nic zrobić. Dwóch nabiłem na kopię, nie mogłem jej wyciągnąć, to ją porzuciłem. Wyrwałem pistolet zza
            pasa strzeliłem z bliska, rozwalając głowę Turkowi zamierzającego się na mnie piką. Chowam pistolet i
            wyjmuję szablę. Zauważam, że chorąży zawraca, więc toruję sobie drogę z powrotem, tnąc na prawo i lewo.
            Trochę głów spod mojej ręki pospadało. Wróciliśmy do obozu, tam zaraz nasze niedobitki otrzymały nowe kopie
            i ruszyliśmy co koń wyskoczy dobijać uciekających nieprzyjaciół. Całość nie trwała więcej niż godzinę.
            Weszliśmy triumfalnie do głównego obozu. Na ziemi leżało wiele pięknych szabli i tarcz osmańskich oraz
            tatarskich. Zauważyliśmy również wozy pełne pięknych materiałów i wiele worków z kawą. Nasz miłościwy król
            wysłał do Polski 80 wozów tych dóbr. Zanim jeszcze wróciliśmy mogliśmy się przekonać o braku wdzięczności
            cesarza Leopolda. Nie mogliśmy nawet wchodzić do uratowanego miasta, bo mogli nas zastrzelić. Jak
            najszybciej zaczęliśmy wracać do Polski. <br>
            W Krakowie zostaliśmy przywitani radośnie. Wjazd naszych husarskich chorągwi przystrojonych w skrzydła,
            lamparcie skóry, bogato zdobione uzdy i siodła, a oprócz tego również piki z powiewającymi proporcami. Widok
            był przepiękny, wzbudzał zazdrość przedstawicieli innych państw europejskich oraz zachwyt tłumu.
        </p>
    </div>
</div>