<div class="card">
    <div class="card-body">
        <h5 class="card-title">Osowiec</h5>
        <p class="card-text text-justify"> Czekaliśmy na atak Niemców już od kilku godzin. Od ostatniego szturmu minęło podejrzanie
            dużo czasu, byliśmy dobrej myśli, bo poprzednie ataki odpieraliśmy bez większych. Było to miłą odmianą po
            porażce naszych wojsk w wojnie Krymskiej. Efektem tej przegranej była budowa nowoczesnej twierdzy, w której
            wtedy stacjonowałem.<br>
            Mieliśmy dużo prowiantu, więc mogliśmy się bronić prawie w nieskończoność.<br>
            Grałem z Iwanem i Konstantinem w kości. Szło mi bardzo dobrze, miałem w kieszeni coraz więcej rubli. Nagle
            rozległ się alarm i okrzyki z zewnątrz: „Gaz!”. Widziałem ludzi uciekających z pierwszych linii okopów.
            Zdziwiłem się, bo było słychać tylko strzały artyleryjskie z oddali, jakby nasi w ogóle nie odpowiadali.
            Potem zauważyłem obsługę dział próbującą biec w naszą stronę, mieli twarze poprzewiązywane chustami, mimo to
            widać było jak kaszlą i krwawe ślady na ich okryciach.<br>
            Szybko sam założyłem chustę na usta i nos, moi towarzysze zrobili to samo. Po chwili już przede mną
            widziałem leżących ludzi, którzy kaszleli wypluwając kawałki swoich płuc. To był przerażający widok. Nagle
            sam zacząłem kaszleć, Konstantin i Iwan również. Pierwszy z nich póki miał siły skrzyknął pozostałych
            będących w stanie walczyć, chwyciliśmy karabiny i ruszyliśmy dławiąc się własną krwią, wiedzieliśmy, że już
            nic nas nie uratuje. Stawaliśmy do naszej ostatniej walki. Był to istny atak umarłych. Zbliżaliśmy się do
            pozycji niemieckich. Mimo, że mieli przewagę, zdaje mi się, że 20-krotną, w ich szeregach rozległy się
            nawoływania do ucieczki. Spojrzałem na pozostałych przy życiu towarzyszy broni, przestałem się dziwić
            wrogowi. Szliśmy cali we krwi, co chwilę ktoś z nas upadał. Większość, aby już nigdy nie wstać. Niemcy
            zaczęli uciekać. Padłem, przewróciłem się na bok. Zdejmuję chustę, aby lepiej odetchnąć. Kaszel się nasilił.
            Coraz więcej krwi, coraz więcej wnętrzności na zewnątrz. Ból jest przeokropny, Niemcy to bestie szukające
            tylko ludzkiego cierpienia. Wróg uciekł, słyszałem pojedyncze radosne okrzyki, które urwały się i zastąpił
            dużą część z nich kaszel. Zamknąłem oczy, aby już ich nie otworzyć.<br>
        </p>
    </div>
</div>