<div class="card">
    <div class="card-body">
        <h5 class="card-title">Nobody</h5>
        <p class="card-text text-justify">Johnny was tired from working all day. He was laying on his bed in his bedroom. He didn’t
            like his new apartment. It was too big. Suddenly, he reminded on brushing his teeth. He got angry because
            the bathroom was on the other side of his new apartment, a long way away. Sadly, as long as he remembers
            about thing that he didn’t do he can’t fall asleep. Then he also reminded himself about project at his work
            which he will do on the next day. He was very sleepy but he couldn’t fall asleep. He went to the toilet to
            brush his teeth. Suddenly, he heard a strange noise, something like breaking flat glass or glasses. <br>
            - Who is there? – he asked, he was really nervous at this point of time. <br>
            - Nobody! – nobody answered. <br>
            - Ok. <br>
            Then he thought: “If nobody is there, who responded? Maybe it’s a thief”. He got a gun from his wardrobe.
            Then he was going to the sound source. He saw a ghost! <br>
            - Who are you? – he asked <br>
            - I am Nobody because I haven’t any body. – ghost responded – I came there to get a new body. I chose yours. <br>
            The person woke up really early next day, he was a man like Johnny, he was looking like Johnny he got up
            from Johnny’s bed, he went to Johnny’s bathroom but not Johnny was controling a body it was Jack, the ghost
            named Nobody, from this day Jack had a body. <br>
        </p>
    </div>
</div>