<div class="card">
    <div class="card-body">
        <h5 class="card-title">Chess club</h5>
        <p class="card-text text-justify">Matthias came to the old chess club, which was named “Under the young hangman”. This name
            was in memory of gamblers who didn’t know when to quit. William was standing behind a big bar when he saw
            Matthias, he came up to the guest and tried to convince him to stop playing chess for money: <br>
            - Matthias, you lately play worse and worse. You should stop when it isn’t too late. <br>
            - You encouraged me to play, why do you want me to stop? – Matthias opposed. <br>
            - Because you played better than anyone in this club in the past but now you are not so fast developing your
            pieces. You many times lost queens, rooks and bishops when you could change a situation to good for you but
            now you can’t pin any major piece, you can’t defend your positions, I won’t even tell you about your attack.
            You forget many times about capturing en passant. You shouldn’t play for money. <br>
            The argument was very long. Then Matthias saw a free place next to a chessboard he sat down on the chair and
            asked an opponent to play for 10 pounds, the opponent said he didn’t play for less than twenty. Matthias
            agreed. He lost this time and next time for forty pounds and next for a hundred pounds. Then he said he has
            no money, and asked to play for his baggage, the opponent gave two hundred pounds. <br>
            - You are naive! Matthias please stop. – William called out. <br>
            Matthias started praying to win. If he wins, he will be forty pounds up, he needed that money. He couldn’t
            focus, awareness of previous loses was deafening. Matthias on this day was only a shadow of his former self.
            Suddenly he saw a perfect move, he won. The opponent thanked him for the game and gave him an envelope. He
            was very happy, it could be his ultimate loss. <br>
            Matthias got out from the club as fast as he could. He saw a swallow and he thought it was a good sign. <br>
            He came home, in the living room he saw a cactus. He didn’t have a cactus! He also saw another envelope,
            that was the last will of Jonah McGregor. It was weird because he didn’t know any Jonah. From the testament
            he knew that Patrick McGregor is an inheritor of Jonah. The inheritance was a set of tennis rackets and half
            a million pounds! He released the paper from his hand. Suddenly, he remembered that his neighbour is named
            Patrick. He went out from the apartment, checked the number of door. He confused doors! <br>
        </p>
    </div>
</div>