<div class="card">
    <div class="card-body">
        <h5 class="card-title">visit at doctor's surgery</h5>
        <p class="card-text text-justify">Jack went into a doctor’s surgery in the children’s ward because he was fourteen. He looked
            pathetic. He had a black eye, burned hair and hands. He also had a nosebleed. He was fat, so naturally, he
            had weight problems too. <br>
            - Good morning. <br>
            - Good morning. How can I help you? <br>
            - I have a flu, a hay fever and ….. and….. I have it on the tip of my tongue. <br>
            - Maybe you wanted to tell me about this deep cut above the sunburn above your cheek. <br>
            - No, now I remember, I dislocated my shoulder and I have insomnia. <br>
            - Where did you get hurt? <br>
            - Oh, I was a participant in a charity event. I took part in a cycle race in memory of World War II victims,
            organised by a foundation named “cycle and die”. This race was organised to help vulnerable people. I
            trained the whole year to take part in this race. My sponsor pulled my leg that this race is safe. During
            the race he got dizzy and he collapsed. When an emergency team came, he told them that he cut his finger.
            Paramedics laughed their heads off. Surprisingly, he died of a heart attack. They tried to save his life.
            Sadly, it was too late. Paramedics turned out to be very helpful because suddenly one woman went into
            labour. They quickly took her to the maternity ward where she delivered a baby. <br>
            - How did you get hurt? <br>
            - So we were cycling very fast. Suddenly the road ended. Many participants hit trees. Now they are in
            serious condition. Fortunately, rescue teams came fast. Suddenly I got symptoms of a serious illness. My
            legs got swollen. I saw my legs were bleeding and got infected. I was injured and I needed to see a doctor
            so I stopped my bike. Sadly I fell off the bike. Then I got hurt. I also had a panic attack. <br>
            Some minutes later, Jack came out of the hospital with a bandage on his head, stitches on his arm and
            prescription for tablets and morphine injections. He needed to give himself injections. <br>
            Now, he is going to try to convince the city council to put a ban on this race. He is feeling alert. He has
            plans to set up a charity webpage and share it with friends. <br>
        </p>
    </div>
</div>