<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział I</h5>
        <p class="card-text text-justify">Był 5 luty, siedziałem przy stole w Kuli. Właśnie skończyliśmy grać w kręgle.
            Kolega miał osiemnastkę, siedzieliśmy przy stole w dziewiątkę (6 osobników płci męskiej i 3 żeńskiej, miały
            być 4 ale jednej osobie nie pasowało). Na stole stoi pół litra w lodzie oraz kilka butelek popitki (pepsi,
            sprite i fanta). Jeden z kolegów – Mateusz, pije whiskey z colą. Janek powiedział, że dzisiaj nie pije bo
            jest po szczepionce, dwójka dziewczyn chyba jest abstynentkami do ich 18. Więc wódkę pijemy w 6, jubilat
            pije z popitką, ja czystą, reszta drinki. <br>
            Wpadłem na głupi/zabawny (dla mnie i Mateusza, który widział co robię) pomysł, aby nabierać Michała, że
            piję, nalewałem sobie wody do kieliszka, a mu wódki. Kilka kieliszków tak poszło. Padła propozycja zagrania
            w butelkę.<br>
            Po około półgodzinie gry padła propozycja, aby zmodyfikować zasady, że każdy odpowiada na zadane pytanie.
            Pada kluczowe pytanie, przez które podjąłem pierwszą odważniejszą decyzję:<br>
            - Kto z klasy, z przeciwnej płci, ci się najbardziej podoba?- Mateusz, odpowiedział, że Martyna i Ewelina,
            jestem trochę zdziwiony.<br>
            Pada kolej na mnie, odpowiadam – Weronika – padły komentarze, że widocznie nie zwracam uwagi na sam wygląd,
            a też na sukcesy w nauce (miała 6.0), szczerze mówiąc w tamtym momencie patrzyłem tylko na wygląd i
            usposobienie(chociaż nie wiem, może mam taki fetysz). Ona właśnie miała przyjść jako 10 osoba, ale jej nie
            pasowało, jestem ciekaw czy odpowiedziałbym tak gdyby siedziała z nami przy stole.<br>
            Mateusz do mnie mówi, żebym do niej napisał i gdzieś ją wtedy zaprosił 14 lutego, protestuję ale on naciska,
            abym zebrał się na odwagę.<br>
        </p>

        
    </div>
</div>