<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział III</h5>
        <p class="card-text text-justify">Podczas powrotu upewniłem się, że spotkanie na sobotę (kolejny dzień) jest
            aktualne, ustaliliśmy też konkretną godzinę – 15. Wszystko szło zgodnie z planem.<br>
            Założyłem najlepszą koszulę i ojciec mnie podwiózł 30 km, do miasta, na miejsce spotkania. Spotkaliśmy się w
            galerii, zaproponowałem kino lub bilarda. Ona powiedziała, że może łyżwy, zgodziłem się (chociaż nigdy
            wcześniej nie jeździłem), poszliśmy na pobliskie lodowisko. Nie dała sobie zafundować wypożyczenia łyżw.
            Jeździliśmy około godzinę (to znaczy ona jeździła, ja tylko próbowałem XD). Cały czas rozmawialiśmy, bardzo
            mi się podobało to doświadczenie, czułem się prawie całkowicie rozluźniony, mimo robienia dwóch nowych
            rzeczy naraz (jazda na łyżwach i takie spotkanie z osobnikiem płci przeciwnej, w którym byłem trochę
            zadurzony). Po łyżwach poszliśmy do galerii i kręciliśmy się w kółko, ja, debil nad debile, nie
            zaproponowałem, aby gdzieś usiąść, w jakiejś kawiarni czy chociaż na ławce. Rozmawiało się jednak dobrze,
            przynajmniej mi (nie jestem pewien jak jej, ale wydawała mi się zadowolona ze spotkania). Jednak po 2
            godzinach od rozpoczęcia spotkania powiedziała, że umówiła się z bratem, że po nią podjedzie koło 17, trochę
            się zdziwiłem i zasmuciłem, stwierdziłem, że trudno może jeszcze kiedyś się uda ją gdzieś zaprosić. Chociaż
            po popełnieniu takiej gafy, było to już wtedy dość wątpliwe.<br>
            Przez kolejne dwa tygodnie próbowałem ją gdzieś zaprosić, lecz nie udało się, niedługo potem wykluczyła dni
            od poniedziałku do piątku, soboty akurat przez dwa kolejne tygodnie mi odpadały, bo miałem etapy wojewódzki
            konkursów, to zaproponowałem na spotkanie tego typu 26 marca, a tak to ją na swoje urodziny zaprosiłem,
            które zorganizowałem 13 marca.
        </p>
    </div>
</div>