<div class="card">
    <div class="card-body">
        <h5 class="card-title">Syrena</h5>
        <p class="card-text text-justify">Do karczmy wszedł krępy mężczyzna z dwoma toporami za pasem oraz harpunem przewieszonym za
            rzemień na plecach. Karczma niczym się nie wyróżniała, może jedynie tym, na co dopiero po chwili, gość
            zwrócił uwagę, na ścianiach nie było żadnego trofeum myśliwskiego ani żadnej głowy potwora. Pozostali goście
            karczmy, głównie rybacy i okoliczni chłopi, szybko odwracają wzrok od nowoprzybyłego. Był do tego
            przyzwyczajony, widok hełmu z dwoma rogami oraz namalowanymi krzyżującymi się toporami, a na dodatek wężowe
            oczy, nic z tych rzeczy nie mogło przysporzyć mu sympatii. Podszedł do karczmarza, który jako jedyny
            ucieszył się na jego widok. <br>
            - Jak się zwiecie panie? <br>
            - Jestem Carrow, occisor z cechu toporów. <br>
            - Widział pan ogłoszenie? <br>
            - Ja właśnie w jego sprawie, przyszedłem ustalić kwotę jaką dostanę za tą syrenę. W związku z tym, że na
            ogłoszeniu widniało, że ma być “bez większych uszkodzeń”, nie zadowala mnie propozycja 400 franków. <br>
            - Przecież normalnie za syrenę bierzecie 150. <br>
            - Ale tam zleceniodawców interesuje tylko, aby przynieść głowę, ogon czy skrzydła potwora, a nie całe ciało.
            Za mniej niż 500 się tego nie podejmę, dodaj do tego jeszcze koszty ziół od waszej zielarki. <br>
            - No dobra niech już będzie. <br>
            Rozmowa trwała dalej tym razem dotyczyła miejsca gdzie syreny można znaleźć. Było to niedaleko jedyne pół
            godziny pieszej wędrówki. <br>
            Po wyjściu z karczmy Carrow zobaczył powiekszającą się grupę chłopów uzbrojonych w kosy i widły, skierował
            się w drugą stronę, w kierunku leśnej ścieżki prowadzącej do chaty stojącej na uboczu. Już z oddali było
            słychać odgłosy zamieszania dochodzące z tego budynku. Carrow zdecydował się podkraść. Wyciągnął stalowy
            topór zza pasa i zaczął się podkradać. Kiedy był już w pobliżu zobaczył bandytę z pałką za pasem stojącego
            przy drzwiach. Skierował się na tyły domu, zauważył skrzynię, schował do niej harpun oraz posrebrany topór,
            a następnie cicho podkradł się do osobnika przy drzwiach. Zanim wogóle zdążył się ruszyć, leżał bez głowy na
            ziemi. Carrow podszedł do otworu w ścianie, który zapewne pełni rolę okna, ujrzał okrutny widok, kobietę
            przywiązaną nogami do nóg stołu i dwóch mężczyzn, z których jeden jej groził, a drugi się zdejmował spodnie
            w wiadomo jakim celu. Pospieszył do drzwi, wyważył je, a następnie skoczył ku ubranemu mężczyźnie, ciał go
            przez brzuch. Usłyszał za sobą ruch, uchylił się, lecz noż wbił mu się w ramię. Rozwścieczony ciął
            przeciwnika na odlew przez głowę. Kolejnym jego krokiem było uwolnienie zielarki, kiedy rozciął więzy upadła
            i zwymiotowała. Tymczasem Carrow wyszedł na zewnątrz po swój harpun i topór, leżały nieruszone, wrócił z
            nimi do budynku. Kobieta już ochłonęła, wzięła się za opatrywanie mu rany i zapytała czego potrzebuje,
            odpowiedział, że stawikrewu oraz garści łodyg niezapominajek. Wyglądała na trochę zdziwioną, lecz dała o nic
            nie pytając dorzucając jeszcze 50 lirów, podziękował i skierował się do karczmy do pokoju przydzielonego mu
            przez karczmarza. <br>
            Usiadł na chwiejnym krześle przy chwiejnym stole, hełm położył na brzegu stołu, wyjął z torby pudełko,
            otworzył je. W śroku równiutko poukładane i poopisywane były małe buteleczki. Wyjął manierkę z wodą, zapalił
            lampę. Zmielił łodygi niezapominajek, papke wsypał do buteleczki, następnie nalał wody z manierki,
            zakorkował naczynie i zaczął podgrzewać substancję. Potem potrząsnął, otworzył i wsypał nikomu spoza kręgu
            occisorów nieznane zioła, kończyły mu się, musiał wracać do twierdzy, a następnie ponownie podgrzał i
            potrząsnął. Zawartość rozlał do pięciu buteleczek, w każdej rozcieńczył substancję wodą. Po przygotowaniu
            eliksiru zabrał się za przygotowane oleju ze stawikrewu. Zbliżała się noc, więc położył się spać.
            Obudził się bardzo wcześnie, kogut jeszcze nie zapiał. Wyciągnął jedną z wczoraj przygotowanych buteleczek,
            wypił cało zawartość, a pustą butelkę schował z powrotem do skrzynki. Następnie obejrzał pomieszczenie, w
            ścianie znalazł wnękę, schował tam swoją torbę. Teraz przyszedł czas aby przygotować broń, wyciągnął spod
            łóżka harpun, zanurzył ostrze w wiadrze z wczorajszym olejem, następnie to samo zrobił z posrebrzanym
            toporem. Był gotowy. Karczmarz miał dla niego przygotowanego osiołka w stajni, wziął go na rzemień i
            wyruszył. <br>
            Po drodze minął grupę ludzi, którzy z wrzaskiem uciekli na widok jego nienaturalnie bladego oblicza. Reszta
            drogi minęła bez niespodzianek. Jego celem była stara latarnia morska na ponurej, skalistej górze. Z jednej
            strony, ogromne urwisko, wpadające do morza. Na szczyt wiodła do niej cieńka ścieżynka prowadząca z lasu.
            Widział wiele syren które przelatywały nad latarnią i nurkowały. Przywiązał osiołka do drzewa w dość sporej
            odległości od latarni, a sam skierował się z harpunem w ręku w kierunku żerowiska stworów.
            Syrena to był straszny potwór, ponieważ z górnej części ciała przypominał piękną kobietę, lecz zamiast nóg
            miała wielki ogon i skrzydła uzbrojone w wielkie szpony. Był jeszcze około pięćdziesiąt metrów od latarni,
            gdy zauważyła go jedna z syren i zaczęła na niego pikować. Occisor zwinnie uniknął ciosu szponów, lecz nie
            zdążył uskoczyć przed ogonem, który zachaczył o już i tak jego ranne ramię, na szczęście harpun trzymał w
            drugiej. Mimo chwilowego oszołomienia, szybciej się otrząsnął niż syrena i wbił jej harpun w środek pleców.
            Upewnił się, że jest martwa i zaniósł ją do osiołka do którego następnie przywiązał ciało. Szybkim krokiem
            skierował się do karczmy gdzie karczmarz szybko go zauważył. <br>
            - Widzę, że już wracasz. Oto twoje 400 franków. <br>
            - Miało być 500, gdzie to sto?- zapytał i położył rękę na stalowym toporze. Karczmarz, ze strachem w oczach,
            dał mu wtedy pozostałe i kazał jak najszybciej się wynosić. Carrow szybko skierował się do swojej izby,
            wziął torbę z wnęki i skierował się do portu. <br>
            W porcie zapytał, czy jakiś statek kieruje się do Irlandii. Na szczęście szybko taki znalazł i wracał już do
            siedziby occisorów znaku skrzyżowanych toporów. <br>
        </p>
    </div>
</div>