<div class="card">
    <div class="card-body">
        <h5 class="card-title">Affection part 2</h5>
        <p class="card-text text-justify">
            A few minutes later a door opened and he heard: “Davis, get up!”. Davis saw a few people, three of them he
            knew, they had told him that he was chosen to settle the new world but others were dressed like him. They
            were wearing white shirts, ice-blue trousers and black shoes. There was only one difference in the settlers’
            clothes, they had different numbers on shirts. There were about forty people. Davis got up and went out from
            the room with number 42, from the opposite door , a woman came out.<br>
            Guards opened more doors and from every room one person came out. Half of them were women and half men. Then
            guards led them to a big meeting room. On the platform in the centre of the room was standing a man who
            looked like Einstein or a typical crazy scientist. Davis felt scared. It was obvious that he is a leader of
            the project. The leader said:<br>
            - Hello! My name is Albert. Now I can say welcome in the new human planetary system!
            Someone shouted from the audience:<br>
            - What’s your surname? Einstein? Did scientists resurrect you?<br>
            - Yes, of course. Is that crazy? – he didn’t say anything for about a minute. Then he laughed and said –
            Obviously, it was a joke, I’m not Einstein. I am Slaveman. So I present to you our plans – when he said it
            the wall behind him disappeared and all the gathered people saw a planet with two stars in the distance. –
            So it is a planet where we will land and start to build the first city of people on another planet! There
            are five more spaceships, on every spaceship there are two hundred settlers and fifty guards.<br>
            Suddenly, the leader heard shouting from the audience . He looked at the transparent window, he saw a few
            rockets, he quickly yelled to the walkie-talkie to run away. The captain calmly answered: “I’ll do what I
            can”. Then every person on the spaceship heard the engines working. Abruptly, they heard an explosion and
            information from the captain: “Sorry, I can’t run away. I lost two engines and there are only two functional
            rooms: meeting room and control deck. It was a good time with you on this ship. Farewell!”.<br>
            Most people started praying even those who always said that they’re atheists.<br>
            <br>
            On the another ship:<br>
            - What have you done?! – an engineer shouted at the captain of spaceship number 2.<br>
            - Who installed the button to launch nuclear missiles there? Next to the start engine button!<br>
            - We lost building engineers! It will be hard to build a new city without them. We also lost half of
            building robots! What a stupid idea to put the stupidest captain of all operations on the military ship!

        </p>
    </div>
</div>