<!--<div class="row">
    <div class="col-3">
        <img width="200" height="100"
        
            src="https://firebasestorage.googleapis.com/v0/b/pik1-page.appspot.com/o/opowiadania%2Fmariusz-kozik-auxiliary-vs-dacian.jpg?alt=media&token=913f00fb-2a16-4a42-9de6-b292a2dc1d9c"
            alt=""
            routerLink="soldier">
            
    </div>
    <div class="col">
        <img width="200" height="100"
            src="https://firebasestorage.googleapis.com/v0/b/pik1-page.appspot.com/o/opowiadania%2Fthe-writing-of-witcher-3-1571067962368.jpg?alt=media&token=5ef2c544-78b8-43c8-a636-3fb57de24fe1"
            alt=""
            routerLink="fantasy">
    </div>
    <div class="col">
        <img width="200" height="100"
            src="https://firebasestorage.googleapis.com/v0/b/pik1-page.appspot.com/o/opowiadania%2Fczywiesz-pl-1567395.jpg?alt=media&token=dee0449e-6481-4136-9c82-57bf37444f6f"
            alt=""
            routerLink="englando">
    </div>
    <div class="col">
        
    </div>
</div>-->