<div class="card">
    <div class="card-body">
        <h5 class="card-title">Słoń</h5>
        <p class="card-text text-justify"> Nigdy na świecie nie było potężniejszej armii od perskiej. Byłem dumny, że dane mi było w
            niej służyć i na szczęście nie w piechocie, tam nikt nie cieszył się szacunkiem, poza nieśmiertelnymi, do
            tej formacji nie mogłem się jednak dostać – za niskie urodzenie.<br>
            Został nam dzień drogi do rzeki Hydaspes, za którą od niedawna rozpościerała się Macedonia. Próbują przeć
            naprzód, lecz my przygotowujemy się od kontrataku. Szliśmy jeszcze długo po zmierzchu, aż w końcu
            szachinszach dał przyzwolenie na postój. Skierowałem słonia w stronę małego jeziorka, aby go napoić.
            Następnie cała setka słoni została skierowana na pobliską polanę, gdzie mogły się najeść.<br>
            Następnego dnia, zaraz o świcie, inżynierowie zaczęli montować wieże do grzbietów słoni. Niewolnicy poili je
            winem. Po kilku godzinach słonie były gotowe na czekające je starcie. Natomiast ja wziąłem młotek i dłuto, a
            następnie razem z łucznikami zapakowaliśmy strzały oraz sarisy do wieży. Wyruszyliśmy, wieczorem dotarliśmy
            do rzeki, ujrzeliśmy Macedończyków przeprawiających się przez rzekę. Ruszyliśmy na nich szarżą, w naszym
            kierunku posypały się strzały, łucznicy odpowiedzieli tym samym, kiedy byliśmy już w pobliżu, strzelcom
            skończyła się amunicja, więc wzięli sarisy. Dotarliśmy do ściany pik, które pękały niczym patyczki, zaprawdę
            słoń do wspaniałe zwierzę. Mogłem obserwować przerażenie na twarzach wrogów. Najeźdźcy próbowali wspiąć się
            do wieży, lecz na razie załoga skutecznie ich zrzucała. Nagle słoń wpadł w szał, rozejrzałem się czy w
            pobliżu nie ma sojuszników –nie było, więc zostawiłem słonia przy życiu. W momencie, gdy obracałem się z
            powrotem do przodu zobaczyłem kamień lecący prosto w moją stronę. Oberwałem w głowę, puściłem słonia i
            spadłem. Nabiłem się na czubek jakiejś złamanej sarisy, kiedy próbowałem wstać, spadła na mnie noga
            ogromnego zwierzęcia.
        </p>
    </div>
</div>