<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział III</h5>
        <p class="card-text text-justify">Ci co nie mieli pancerzy, wzięli je z ciał poległych rzymskich legionistów, ten który
            wziąłem był trochę za duży lecz lepszy taki niż żaden, wymieniłem również mój miecz na gladius jakiegoś
            legionisty, ponieważ był wytrzymalszy od mojego, który po ostatniej walce był dość wyszczerbiony.
            Dotarliśmy do wioski oddalonej o jakieś 15 kilometrów od Renu. Okolona była przez gęste lasy w centrum
            znajdowało się kilka większych budynków. Miasto nie miało bram ale była palisada, przy przerwach w niej
            stali strażnicy, widać było, że to nie miejscowi. Poczekaliśmy, aż wokół zapadł zmrok. Rozdzieliliśmy się po
            5 szło do jednego domostwa. Po rozdzieleniu ról natychmiast przystąpiliśmy do akcji. Zabiliśmy obu
            strażników stojących przy bramie od wschodu i postawiliśmy tam pięciu naszych, a nastepnie skradając się
            weszliśmy do pierwszego budynku, weszliśmy po cichu przez frontowe drzwi, usłyszeliśmy w oddali szczekanie
            psa, nie zmartwiliśmy się nim, to normalne w każdej wiosce. Zostawiliśmy jednego przy drzwiach,
            skierowaliśmy się do pierwszego pomieszczenia na lewo, zobaczyliśmy małych ludzi leżących na ziemi, kilku na
            skórach, to było pomieszczenie w którym sypiały dzieci, stwierdziliśmy, że lepiej będzie najpierw złapać
            dorosłych. Otworzyliśmy drzwi z prawej strony wejścia, zobaczyliśmy dobrze wyposażoną kuchnię.
            Postanowiliśmy to wziąć, lecz najpierw trzeba wyłapać mieszkańców zanim się zorientują, że grozi im
            niebezpieczeństwo. <br>
            Otworzyliśmy po cichu drzwi do ostatniego pomieszczenie, i zobaczyliśmy blisko 10 dorosłych, zrozumieliśmy,
            że nie są to Rzymianie tylko Celtowie, Rzymianie nie mieszkaliby razem w tyle osób. No ale cóż niewolnik to
            niewolnik. Zauważyliśmy 5 osób nadających się na niewolników – 3 mężczyzn i 2 kobiety. Poszedłem po tego co
            stał przy drzwiach i razem zabiliśmy pięciu starców którzy byli w tym pomieszczeniu, a następnie
            zakneblowaliśmy i związaliśmy pozostałych, byli tak zaskoczeni, że nie stawiali oporu.<br>
            Wróciliśmy do pokoju dzieci, zobaczyliśmy trójkę dzieci, które nadawałyby się, reszta była jeszcze za mała,
            szybko ich związaliśmy i zakneblowaliśmy, zostali wyprowadzeni na zewnątrz do pozostałych złapanych.
            Wzięliśmy również do worków wyposażenie kuchni – przyda się u nas w wiosce. Wychodząc zauważyłem wielki
            budynek z którego słyszałem wiele rozmów, pomyślałem, że to kwatera wodza lub może mieszkanie niewolników,
            jeśli tak należałoby ich uwolnić. Wróciliśmy na punkt zbiórki, reszta również wróciła, mieli złapane wielu
            niewolników. Łącznie chyba złapaliśmy z trzydziestu młodych i silnych ludzi. Powiedziałem im o wielkim
            budynku, jednogłośnie stwierdziliśmy, że ktoś powinien iść sprawdzić co się tam mieści, do tego zadania
            zostałem wybrany ja.<br>
            Kiedy zbliżałem się do celu zauważyłem, strażnika, lecz nie był to legionista był uzbrojony jak celt – miał
            topór i tarcze średniej wielkości, a stojąc przed wejściem opierał się na włóczni, ale miał inny hełm,
            zwątpiłem: “Skąd on może być?”. Obszedłem budynek sprawdzając czy nie ma drugiego, zauważyłem go przy
            drugich drzwiach. Stwierdziłem, że to mieszkanie niewolników i wróciłem do współplemieńców, powiedziałem im
            co widziałem. Ustaliliśmy plan, dwóch pójdzie i zastrzeli strażników.<br>
            Jak postanowiliśmy tak zrobiliśmy, ja i mój ojciec podeszliśmy na jakieś 10 metrów od każdego strażnika
            obydwoje mieli zapalone pochodnie, więc byli dobrze widoczni, strzelamy. Wśród nocnej ciszy rozległo się
            charczenie. Podeszliśmy do trupów i wzięliśmy ich uzbrojenie, mieli ładne hełmy z rogami po bokach, nie
            widziałem jeszcze takich w okolicy, po cichu przeszukaliśmy najpierw pierwszego, tego który stał przy
            frontowych drzwiach, znalazłem u niego naszyjnik zrobiony tak jakby z ości ryb, a w kieszeni miał pękaty
            mieszek złota i srebra. Nie płaci się tyle zwykłym żołnierzom, więc stwierdziłem, że był najemnikiem,
            pochodzącym z brzegu jakiegoś morza, o którym słyszałem, że pełne jest przerażających stworów. Drugi miał
            identyczne wyposażenie, wzięliśmy ich hełmy, topory, tarcze i oczywiście pieniądze, lecz kolczug nie
            braliśmy, za bardzo by nas obciążały. Ojciec pozostał na straży jakby ktoś zbliżał się od strony wioski to
            miał mnie zawiadomić i mileibyśmy coś na to poradzić.<br>
            Otworzyłem drzwi, zobaczyłem blisko 50 ludzi leżących bezładnie na ziemi, wziąłem pochodnię i zacząłem ich
            budzić, ku mojemu zdziweniu zauważyłe Zilata mojego znajomego, który uczestniczył w pierwszej wyprawie
            wysłanej z naszej wioski, rozkazałem mu:<br>
            -Weź pancerz jednego ze strażników i wyprowadź resztę do naszego obozu, który znajduje się dwieście metrów
            od wschodniej bramy. Trzymaj również ten miecz, jest rzymski więc powinien długo wytrzymać, ja mam topór
            jednego ze strażników.<br>
            -Dziękuję, za uratowanie nas z niewoli, oczywiscie wypełnię to zadanie.<br>
            Obszedłem jeszcze pomieszczenie, lecz nie znalazłem nic wartościowego.<br>
            Wyszedłem, postanowiliśmy jednak wziąć kolczugę z drugiego strażnika, nagle zauważyliśmy zbliżającą się
            zmianę warty. Ukryliśmy ciała w środku budynku, a następnie sami ukryliśmy się w krzakach w pobliżu wejścia
            do budynku, zbliżali się widać było, że są weseli, chociaż nie bardzo pewnie im pasuje nocna warta. Wziąłem
            do ręki łuk, tak samo jak mój ojciec wymierzyliśmy i czekaliśmy, zbliżali się, kiedy już byli obok drzwi,
            zwolniliśmy cięciwy ponownie rozległo się charczenie umierających tej nocy. Podeszliśmy do ich ciał, jeden
            jeszcze zipał, odrąbałem mu łeb siekierą zdobytą od jego kolegów, z nich również zdjęliśmy uzbrojenie i
            wzięliśmy zawartość kieszeni, ci również byli najemnikami, więc mieli dużo złota. Jeśli wioska mogła sobie
            pozwolić na najemników, to znaczy, że była bogata, stwierdziliśmy, że nie ma co pozostawać bo jest to zbyt
            niebezpieczne. Wzięliśmy łupy i wyruszyliśmy do obozu. Zostaliśmy gorąco powitani przez uwolnionych
            niewolników.<br>
            Rozpoczęliśmy drogę powrotną, aby rano nas nie znaleziono w miejscu w którym byliśmy. Nasi niewolnicy
            posmutnieli, bo oznaczało to zmniejszenie szans na uratowanie przez mieszkańców wioski, której okolice
            właśnie opuszczaliśmy. Kiedy zaczynało świtać byliśmy już dobre 10 kilometrów oddaleni od tamtej
            miejscowości. Szliśmy poprzez gęsty las mając nadzieję, że nie trafimy na żadną armię Rzymską. Nagle
            usłyszeliśmy śpiewy i śmiechy, pomyśleliśmy, że to legion Rzymski. Zatrzymaliśmy się na skraju drogi i
            zobaczyliśmy dziesięciu młodzieńców kierujących się w przeciwną stronę. Kiedy zbliżyli się nagle wyszliśmy
            zza drzew i kazaliśmy im się poddać, byli tak przerażeni, że w większości usłuchali, lecz jeden sięgał po
            łuk, nie dosięgnał, strzała wystrzelona przeze mnie przeszyła mu gardło, a w tym czasie reszta została
            rozbrojona i związane zostały ich ręce. Wieczorem dotarlismy do Renu, trzeba było się jakoś przeprawić, tak
            więc rozpoczęliśmy budowę tratw, zmienialiśmy się część budowała i ścinała drzewa reszta odpoczywała po 5
            godzinach zmiana. Rano tratwy były już gotowe, zrobiliśmy ich naprawdę dużo i przeprawiliśmy się za jednym
            podejściem, chociaż przeprawa zajęła nam i tak blisko 2 godziny, rzeka była bardzo szeroka w tym miejscu.
            Zatrzymaliśmy się po drugiej stronie i rozłożyliśmy obozowisko. Spostrzegłem, że zaczyna nam brakować
            żywności. Rozłożyliśmy się na dwie grupy, jedna miała pilnować więźniów i rozłożyć obozowisko, druga miała
            wyruszyć na polowanie i wrócić wieczorem ze zdobyczą.<br>
            Byłem w grupie polującej, zawołałem Zilata aby szedł ze mną i w dwójkę wyruszyliśmy. Szliśmy na południe,
            wypatrywaliśmy śladów zwierząt. Około 4 po południu, minęliśmy wielki dąb, gdy usłyszeliśmy pomruk.<br>
            Powiedziałem do Zilata:<br>
            -Burza pewnie idzie, trzeba będzie wracać aby zdążyć przed wieczorem. Może w drodze powrotnej coś upolujemy.<br>
            -To raczej nie burza, spójrz na ślady które są przed nam, to niedźwiedź! Lepiej miej przygotowany łuk.<br>
            Nałożyłem strzałę na łuk i szedłem gotowy do strzału, Zilat wyciągnął topór, następnie podążaliśmy cicho po
            śladach, chwilę później słyszeliśmy mlaskanie, przeszliśmy między krzewy, i skradaliśmy się między nimi w
            stronę źródła dźwięku. Nagle linia krzaków się skończyła i przed nami rozpościerała się polana, a na środku
            niedźwiedź. Był odwrócony tyłem, nie zauważył nas, powiedziałem do Zilata aby czekał i wyszedł z krzaków gdy
            będzie to absolutnie konieczne, ruszyłem wzdłuż krzaków, przekradałem się, polana nie była duża więc już po
            pięciu minutach, może nawet szybciej byłem po przeciwległej stronie polany. Teraz widziałem co jadł, to był
            człowiek, na drzewie które stało około 2 metrów od zwierzęcia siedziała również dwójka ludzi. Nagle jakby
            wietrząc czychające niebezpieczeństwo, bestia podniosła głowę, nie musiała długo czekać, od razu wypuściłem
            strzałę, lecz nie trafiłem w oko, tylko w nos, to rozwścieczyło niedźwiedzia, zaczął na mnie biec,
            naciągnąłem łuk ponownie strzelam, trafiam w otwarty pysk, krew polała się strugami, lecz on biegł nadal.
            Zwierz jest już za blisko aby próbować strzelać, rzucam łuk na ziemię wyciągam zza pasa topór, zamierza się
            na mnie łapą, robię unik i szybko tne toporem wprost w otwartą paszczę, szybko wyciągam topór z rany i zanim
            się spostrzegł uderzyłem ponownie, celując w szyję, trafiłem w jakąś główną żyłę, bo krew mocno siknęła,
            odskakuję na bok poza zasięg łap. Bestia jeszcze odwraca się w moją stronę, lecz nagle pada na bok,
            widocznie upływ krwi okropnie ją wykończył. Walka nie trwała długo, dopiero teraz Zilat do mnie dobiegł, ale
            było już po niedźwiedziu, podszedłem do martwego zwierzęcia, nagle w ostatnim odruchu machnął łapą
            rozrywając mi kawał ramienia, od razu zrozumiałem, czemu to zwierzę jest symbolem nieposkromionej siły.
            Przewróciłem się, Zilat szybko do mnie podbiegł. Uderzył mieczem mocno zwierza w szyję, a ja zemdlałem.<br>
            Ocknąłem się gdy zaczynało się ściemniać, otworzyłem oczy zobaczyłem rozpalone ognisko, a przy nim siedziało
            dwóch ludzi, jednego rozpoznałem, to był Zilat. Zaczynałem sobie przypominać wydarzenia sprzed kilku godzin,
            widocznie ten drugi człowiek, to jeden z tych co siedzieli na drzewie., zastanawiałem się gdzie drugi,
            rozejrzałem się wokół, otaczał mnie las, w pobliżu ogniska zauważyłem również wielkie płaty mięsa zawinięte
            w liście i skórę rozciągniętą na żerdziach. Nagle słyszę głos mojego przyjaciela:<br>
            -Widzę, że się wreszcie obudziłeś, leżałeś tak blisko trzy godziny, zaczynałem się martwić, że nie wyliżesz
            się z tego. Wysłałem Jeroma do naszego obozowiska aby zawiadomił ich o wydarzeniach, dałem mu łapę burego
            aby mógł potwierdzić swoje słowa. Obwiązałem ci rękę liśćmi aby się dobrze zagoiła.<br>
            Teraz odezwał się jego towarzysz:<br>
            -Jestem Gilm, cieszę się, że nasz wybawiciel żyje, robię ci naszyjnik z niedźwiedzich pazurów, aby dodawał
            ci siły w przyszłości.<br>
            Próbuję wstać, ale nie mogę, więc proszę ich o pomoc, lecz Zilat mówi:<br>
            -Musisz jeszcze odpoczywać, ładnie poradziłeś sobie z burym, lecz nie oznacza, to że jesteś w pełni swoich
            sił i możesz już wstać.<br>
            -No to poczekam na przybycie ojca i naszych współplemieńców. Gilm co właściwie tu robisz?<br>
            -Służyłem w armii Arminiusza, z tego co wiem od Zilata ty też. Otrzymaliśmy rozkaz, aby przeprawić się przez
            Ren, no to się przeprawiliśmy, a następnie wyruszyliśmy nocą do najbliższej wioski, nie zachowaliśmy
            wszystkich środków ostrożności, kiedy się zbliżyliśmy zauważyły nas straże na wieżach przy bramie, rozległ
            się dźwięk rogu. Było nas pięćdziesięciu ludzi. Nagle zauważyłem idącego w naszę stronę żółwia,
            postanowiliśmy zaatakować Rzymian, lecz niezbyt dobrze to wyszło. Od razu kiedy wychyliliśmy się z ukrycia,
            pofrunęły w naszą strone strzały powodując wielkie straty, wycofaliśmy się, a strzały znowu poleciały lecz
            tym razem podpalone. W tym samym czasie żółw rozłożył się i legioniści biegli w naszą stronę z wyciągniętymi
            oszczepami, zanim się zpostrzegliśmy i zdążyliśmy jako tako ustawić już oszczepy przerzedziły nasze szyki,
            zostało nas dziesięciu, stwierdziliśmy po co mamy się dać zabić nie przynosząc żadnego pożytku i rzuciliśmy
            się do ucieczki w tym momencie poleciały kolejne strzały i zostało nas pięciu, biegłem ile sił w nogach z
            tarczą na plecach poczułem, że kilka strzał się w nią wbiło, miałem duże szczęście, że zdołałem zbiec,
            dotarliśmy do rzeki. Ze względu na pośpiech rzuciliśmy się do wody już zrzuciłem tarczę aby mi nie
            przeszkadzała miałem tylko ten miecz. – Pokazuje nam swój miecz, widać było, że wykonany z dobrej stali –
            Przepłynęliśmy wpław na drugi brzeg, lecz z pięciu którzy dotarli do rzeki, przepłynęło jedynie trzech, ja,
            Jerom i Aliasz, którego pożarł niedźwiedź. Szybko przeszlismy w gęstwinę leśną i zatrzymaliśmy się pod tym
            drzewem, wszyscy szybko zasnęliśmy znużeni ucieczką przed przeważającym wrogiem. Nagle obudził mnie pomruk
            obudziłem towarzyszy, byliśmy już na nogach kiedy zobaczyliśmy tą bestię. Szybko wspięliśmy się na drzewo,
            lecz Aliasz był raniony w rękę i nie mógł się utrzymać na nim, kiedy to zauważyliśmy, było za późno, Bury
            już go dopadł, a my siedzieliśmy na drzewie i czekaliśmy aż zwierz sobie pójdzie. Tak mniej więcej wygląda
            historia dlaczego się tutaj znaleźliśmy. Nie mogę wrócić do swojej wioski, ponieważ uciekłem z pola bitwy.
            Zaciekawiła mnie jego historia, uwierzyłem w nią bo nie miałby po co kłamać, stwierdziłem, że postaram się
            namówić ojca aby przyjął ich do naszej wioski. Nie mając nic do zrobienia, poszedłem spać. Zbudził mnie
            hałas który mógł towarzyszyć jedynie dużej grupie ludzi. Otworzyłem oczy i ujrzałem naszych ludzi, było już
            jasno. Spróbowałem wstać i tym razem mi się udało. Zaraz podszedł do mnie Gilm i wręczył mi naszyjnik z
            niedźwiedzich pazurów, założyłem go. Zobaczyłem zmartwionego ojca, ale kiedy on mnie zobaczył ucieszył się i
            do mnie podszedł, widziałem na jego twarzy dumę.<br>
            -Witaj, synu! Słyszałem od Jeroma co się wydarzyło. Z głowy niedźwiedzia zrobimy dla ciebie okrycie na hełm,
            aby każdy wiedział czego dokonałeś. Skórę za to powiesisz w swojej chacie na ścianie.<br>
            -Ale ja nie mam jeszcze swojego domostwa.<br>
            -W ostatnim czasie pokazałeś, że jesteś mężczyzną. Wysłałem również posłańca do wioski aby byli gotowi na
            nasz powrót.<br>
        </p>
    </div>
</div>