<div class="card">
    <div class="card-body">
        <h5 class="card-title">Falangita</h5>
        <p class="card-text text-justify">Podczas walk z Persami, pod wodzą Aleksandra, służyłem jako falangita. Przechodziliśmy
            przez Azję Mniejszą. Byłem uzbrojony dość lekko w porównaniu z oddziałami bezpośrednio pod wodzą Aleksandra.<br>
            Posiadałem tylko sarisę i tarczę. Na głowie miałem hełm a ubrany byłem jedynie w lekką skórzaną zbroję
            W centrum Bitynii zatrzymaliśmy się na noc. Każda syntagma obozowała oddzielnie, w końcu 256 ludzi zajmuje
            trochę miejsca. Zatrzymaliśmy się na płaskowyżu, okrążonym przez bujny zielony las, w którym było słychać
            wiel różnej zwierzyny. W taborze znajdowała się nasza żywność, gdy zatrzymaliśmy się, wszyscy zmęczeni
            wędrówką rzucili się na należące do nas wozy. Po pobudce w oddali zauważyliśmy perską armię, więc zaraz
            zaczęliśmy się ustawiać w formację bojową. Nasza armia składała się z blisko 10000 falangitów, 5000
            żołnierzy miotających i 2000 konnych, dowodzonych bezpośrednio przez Aleksandra. Oprócz tych głównych sił,
            uczestniczyły jeszcze mniejsze oddziały hoplitów zrekrutowane w Grecji. Ustawiony zostałem w 4 rzędzie 1
            kolumny naszej syntagmy, a syntagma była na lewej flance. Po lewej miałem oddział najemny z Tracji który
            miał chronić nasze lewe skrzydło.<br>
            Nagle zauważyliśmy jak jedzie perska lekka kawaleria, poleciały strzały z za naszych pleców. Kawaleria nagle
            skręca w prawo (nasze lewo), jest już na naszym skrzydle. Szarżuje na Traków, a oni wpadają w rozsypkę, cała
            moja kolumna obraca się i teraz jestem w pierwszym szeregu naprzeciw jazdy perskiej, pochylamy sarisy.
            Pierwsze rzędy kawalerii nie nadążają zawrócić, są wepchnięte prosto na nasze sarisy. W tym momencie
            przybiegają oddziały najemne z Grecji. Persowie są w potrzasku, z jednej strony naciskani przez Greków, z
            drugiej my zaczęliśmy poruszać się w ich stronę. Ich atak zakończył się śmiercią wszystkich szarżujących.
            Po rozprawieniu się z kawaleria perską , otrzymaliśmy rozkaz aby nasze taxis stworzyło coś na kształt litery
            “L” z główną linią i zaczęło poruszać się w stronę centrum. Zauważyłem, że przeciwległe taxis zaczęła robić
            to samo. W centrum było widać wielu nieśmiertelnych próbujących przebić się przez nasze szyki, a za nimi
            łuczników strzelających w główną linię. Poruszaliśmy się nieprzerwanie w stronę zgrupowanych
            nieśmiertelnech, łucznicy zdołali uciec, lecz nasza kawaleria ich wybiła. Gdy między atakującymi taxis było
            nie więcej jak 10 metrów odstępu, między nami były już same trupy. Rozkazano wrócić nam jak najszybiej na
            pozycję początkową. Lecz nagle zauważyliśmy wielkie zwierzęta.<br>
            - Słonie! – rozległ się wokół krzyk z tysięcy gardeł.<br>
            Dowódca naszego taxis zrozumiał, że nie zdążymy wrócić. Zanim obróciliśmy się w stronę nadciągającego
            zagrożenia zauważyłem ludzi z pochodniami biegających między łucznikami, zrozumiałem, że będą używać
            podpalonych strzał.<br>
            Ustawiliśmy się w linii nacierało na nas 5 słoni. Nasze sarisy pod ich naporem popękały nasze taxis poszło w
            rozsypkę. Wtedy łucznicy strzelili po raz pierwszy, słonie wpadły w szał. Ostatnią rzeczą jaką widziałem
            była spadająca na mnie noga słonia.
        </p>
    </div>
</div>