<div class="card">
    <div class="card-body">
        <h5 class="card-title">Fińscy snajperzy</h5>
        <p class="card-text text-justify">Czerwona gwiazda na budionówce. Coraz więcej takich gwiazd, niedługo będzie ich więcej na
            naszej fińskiej ziemi niż widocznych na nocnym niebie. Posuwałem się raz z całym moim oddziałem w kompletnej
            ciszy, przerywanej jedynie skrzypieniem śniegu i krzykami z pobliskiego obozu – naszego celu. Simo dowodził,
            stosował dość oryginalne metody, np. zakazał używania celownika optycznego oraz na każdą akcję mieliśmy przy
            sobie wiadro wody.<br>
            Podjechaliśmy pod wzgórze i odczepiliśmy narty. Niewidoczni, mimo, że wzgórze nie było porośnięte żadnego
            rodzaju roślinnością, skierowaliśmy się do góry w jednej ręce trzymając narty, w drugiej zaś wiadro. Na
            szczycie nastąpił dobrze mi znany moment. Simo włożył sobie śnieg do ust, według mnie drobne przesada, wylał
            wodę z wiadra i położył się w tak przygotowanym miejscu. Wyjąłem nóż i rozbiłem rękojeścią lód a następnie
            zrobiłem to co nasz lider. Ściągnąłem z pleców, mojego starego carcano, którego posiadałem od blisko 15 lat,
            a przed wojną używałem do polowania w tajdze, teraz poluję na inną zwierzynę.<br>
            Simo daje znak, że możemy zacząć szukać celów, nie nazywamy ich ludźmi, tak łatwiej wykonywać rozkazy, a po
            za tym to komuniści, ich zgrupowania nazywaliśmy stertami drewna. Skupiam się, wypatruje w stróżówkach. Pada
            pierwszy strzał. W końcu zauważyłem cel. Pada kolejny strzał, upatrzony przez mnie żołnierz pada na ziemię.
            -Kurcze- pomyślałem i kontynuuję poszukiwania. W końcu znalazłem całą grupkę, celuję uważnie. Nagle nad nami
            przelatuje samolot, nasze pozycje narty oraz my jesteśmy niewidoczni, ponieważ narty i karabiny pomalowane
            są na biało, a nasze stroje są w dużej mierze ze skór lisów polarnych i pofarbowanych skór łosi.<br>
            Samolot przeleciał, od razu rozległo się dziewięć wystrzałów karabinowych z Carcano i Mosinów. Zamiast
            grupki można było jedynie zauważyć dziewiątkę trupów (no może rannych) i piątkę żołnierzy chowających się za
            czołgiem.<br>
            Nagle z boku rozlega się krzyk po rosyjsku: „Tutaj są!”. Simo ściąga Suomi z pleców, a ja z resztą
            wyciągnęliśmy pistolet. Zaraz jak zbliżyli się na odległość Simo opróżnił magazynek, a my zaczęliśmy
            ostrzeliwać wrogów z pistoletów. Po zużyciu pocisków i w chwili oddechu, szybko założyliśmy narty i
            zaczęliśmy uciekać. W naszą stronę poleciały kule. Poczułem ból o intensywności podobnej jak podczas
            ugryzienia przez wilka. Adrenalina pomogła, ból aż tak bardzo nie przeszkadzał, kiedy powtarzałem wyuczone
            ruchy. Nie zatrzymywaliśmy się póki nie dotarliśmy do linii Mannerheima.<br>
            Wróciło nas siedmiu.
        </p>
    </div>
</div>