<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział II</h5>
        <p class="card-text text-justify">Są lekcje zdalne, więc zamiast w szkole, codziennie spotykamy się na dsc,
            Mateusz nie odpuszcza. Ja zaczynam z niego żartować, że: "Prowadzi innych do skarbu, którego sam zdobyć nie
            może", ponieważ mi każe się zebrać na odwagę, gdy sam nie ma dziewczyny i nic w tym kierunku nie robi. W
            końcu ustępuję i piszę do Weroniki w czwartek, czy pasowałoby jej spotkanie w poniedziałek. Niestety w
            pierwszy tydzień wyjeżdża na narty, a ja w drugi tydzień wyjeżdżałem na kolonię, aby na nich się nauczyć
            jeździć, więc umówiliśmy się na 26 lutego. Cały pozostały czas był trochę oczekiwaniem na ten dzień.<br>
            Na kolonii zastanawiałem się dość dużo czasu nad tym gdzie z nią pójść w tą sobotę. Zastanawiałem się na
            jakimś filmem, lecz nie mogłem się zdecydować, za dużego wyboru też nie było.<br>
            Na kolonii, jednym z opiekunów był mój nauczyciel WF-u, jakoś nikt nie miał oporu, aby pić czy palić
            wieczorami. Każdy wieczór moi koledzy z pokoju zaczynali i kończyli papierosem (ja nie palę, po pierwsze mam
            17 lat, po drugie nie pasuje mi to, że wtedy wszystko wokół mnie papierochami waliło). Kilka pierwszych dni
            pili piwo, nie smakuje mi, więc nie piję z nimi, lecz w ostatnie 3 wieczory piją wódkę. Wtedy piję z nimi,
            oni piją z popitą ja bez, w te dni napisałem chyba 3 lub 4 opowiadania. Raz mnie odprowadzili do pokoju,
            potem poszli pić dalej, do rana nie dotarli do pokoju, kolejnego ranka znalazłem ich w pokoju dziewczyn,
            gdzie piliśmy, wszyscy leżeli na 3 połączonych łóżkach, cała piątka. Tego dnia wracaliśmy do domów.
        </p>
    </div>
</div>