<div class="card">
    <div class="card-body">
        <h5 class="card-title">Affection</h5>
        <p class="card-text text-justify">Davis was laying on a bed. He tried to figure out how he got there. The last thing which he
            remembered was making a coffee in his kitchen. A few minutes later he said to himself:<br>
            - It makes no sense. – so he started looking for something that could help him to get out from this room.
            He saw a little window with very thick glass. He got up and he went to this window. He looked through it and
            saw Earth and Sun. He realized that he is on board of a spaceship.<br>
            Suddenly, he heard very loud woman’s voice which was saying: “Error 404! Object number 42, on Earth named
            Davis Lockwood, isn’t on its position”. Then he heard: ”Davis lay on the bunk!”. He answered: “No, I need an
            explanation of this situation!”. Heavy metallic door opened and Davis saw another door with number 41 and
            three men standing on the doorstep. They were wearing black uniforms, two of them had hands on the handgun
            holsters and on heads they had helmets. The shortest of them had a beret and he said:<br>
            - You are one of the settlers, we are going to settle on a new planet. You must have heard on TV about our
            plans.<br>
            - Yes, yes, I heard but why me? I don’t want to go to another planet! I want go back to home!<br>
            - Seriously? Do you want go back to work for ten hours five days a week to survive? We chose you because you
            don’t have any family and you work more than others so you are hard-working and we need people like that.
            Another reason is that you have a higher education of building. Goodbye and please lay down on the bunk
            because if you don’t lay you’ll die during going beyond light speed.<br>
            - Ok, goodbye.<br>
            Davis was shocked, he still couldn’t realize why he has been chosen but he laid on the bunk. After a few
            minutes he felt dizzy. When the feeling passed he got up and went to window. He couldn’t see any planet of
            the Solar System. He started crying.
        </p>
        
        
               
    </div>
</div>
<button type="button" class="btn btn-secondary btn-sm justify-content-md-end" routerLink="affection2">Następna część</button>
           