<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział II</h5>
        <p class="card-text text-justify">W Lupfurdum zauważyliśmy wiele innych oddziałów podobnych do naszego. Ilość zbrojnych
            liczyła pewnie nawet blisko 20 tysięcy. Zostaliśmy oddani pod komendę Arminiusza, który przejął dowództwo
            nad wszystkimi przybyłymi. Kazał nam odpocząć przed wyruszeniem na drogę z której wielu z nas nie wróci.
            Kolejnego dnia, bo po naszym przybyciu już słońce zachodziło, zostały sprawdzone nasze umiejętności, ja
            trafiłem do oddziału łuczników, mój ojciec zaś trafił do elitarnej piechoty, lecz kazano mu wymienić łuk na
            3 oszczepy. Tak minął nasz pierwszy i ostatni dzień w mieście, bo kolejnego dnia wyruszyliśmy, jak ogłoszono
            tam gdzie ostatnio widziano legiony rzymskie. Ku mojemu przerażeniu wyruszyliśmy w kierunku z którego
            przybyliśmy. <br>
            Po 5 dniach byliśmy już w pobliżu naszej wioski, na szczęście jeszcze żadnych Rzymian nie spotkaliśmy.
            Mieszkańcy poinformowani przez posłańców, których wysłaliśmy na koniach 2 dni wcześniej, mieli przygotowaną
            dla nas zwierzynę upolowaną w okolicznych lasach. Po załadowaniu zapasów natychmiast wyruszyliśmy dalej.
            Szliśmy dalej na południe, cały czas podróżowaliśmy między gęstwinami leśnymi, kawaleria podróżowała po
            wydeptanych ścieżkach, my natomiast szliśmy między drzewami. Dostaliśmy przykaz, aby w razie zobaczenia
            jakiegokolwiek zwierzęcia ustrzelić je i wziąć do taboru. Nie miał on wielkiego znaczenia, bo i tak w żadne
            zwierzęta się do nas nie zbliżały.<br>
            Pewnego dnia, przestałem liczyć mijany czas, nasze oddziały zwiadowcze przekazały, że idzie wielka armia
            Rzymian. Powiedzieli również, że ciągnie się na długości 15 kilometrów. Na tą wiadomość zatrzymaliśmy się,
            rozłożyliśm obozem na noc.<br>
            Otrzymaliśmy rozkaz, aby uzbroić się, nie zdążyliśmy nawet się rozłożyć, więc za wiele czasu to nie zajęło.
            Założyłem tarczę na plecy, włożyłem miecz za pas i wziąłem łuk do ręki, kołczan ze strzałami miałem
            zawieszony na plecach niżej niż tarczę. Będąc tak wyruszyliśmy pod wodzą Prateksersa. Szliśmy w skupionym
            oddziale, jak już byliśmy w pobliżu i było słychać hałas idących żołnierzy: szczęk zbroi, rozmowy i śmiechy.
            Zbliżaliśmy się po cichu.<br>
            Gdy się już zbliżyliśmy, zobaczyliśmy, że rozpoczęli rozstawiać ufortyfikowany obóz. Nasz generał rozkazał
            od razu rozpocząć atak. Najpierw w stronę wroga zaczęliśmy strzelać z łuków, po wystrzeleniu pierwszy raz,
            Rzymianie ustawili się w kółka, obróceni tarczami do zewnątrz z wystawionymi mieczami pomiędzy nimi.
            Próbowali się przesunąć do swojego obozu. Po wystrzeleniu usłyszałem rozkaz:<br>
            -Naprzód!-zawołał generał.<br>
            Zdjąłem tarczę z pleców, odrzuciłem łuk i wyjąłem miecz. Kawaleria wroga była już poza naszym zasięgiem – w
            swoim obozie. Zaczęliśmy biec w stronę wroga. Skoczyłem w stronę jednego z kółek jakie utworzyli Rzymianie.
            Zaatakowałem wściekle, uderzając mieczem w tarczę jednego z nich, nagle obok mnie przeleciała strzała i
            wbiła się w nogę jednemu z nich, przewrócił się, a ja wbiłem mu mój miecz, szybko go wyrwałem i już
            zasłoniłem się tarczą, przed ciosem od innego legionisty, teraz szybko wyciągnęłem rękę uzbrojoną w miecz
            wbijając drugiemu w brzuch, pozostali z nich walczyli z moimi towarzyszami z oddziału, też ginęli pozostał
            jeden, którego oderzyłem tarczą w twarz i padł na ziemię ogłuszony. Nasze starcie zajęło tyle czasu, że już
            reszta Rzymian schowała się za obwarowaniami.<br>
            Po pierwszy dniu walk, w nocy zaczęliśmy ustawiać umocnienia. My ustawiliśmy z jednej strony, natomiast ci
            co dzisiaj zostali w obozie z drugiej, jeszcze na środku ustawiliśmy mniejszy oddział, bo Ariminiusz
            stwierdził, że legiony nie potrafią walczyć w gęstwinie. Czekaliśmy zmieniając się co godzinę przy
            prowizorycznym murze, aż w koncu rankiem zauważyliśmy ruch w obozie rzymskim. Wyszli i zawracali, więc
            zdążali w naszą stronę, byliśmy za zakrętem, a te informacje otrzymywaliśmy od zwiadowców. Gdy minęli zakręt
            i byli gdzieś w odległości 100 metrów od nas zaczęliśmy strzelać. Rzymianie padali jak muchy, widocznie
            postanowili nas szybko zaatakować zanim stracą więcej ludzi, bo zaczęli biec w naszą stronę. Mieli tarcze
            uniesione, aby ochronić się przed strzałami, my w tym czasie strzelaliśmy dalej, kolejni Rzymianie ginęli.
            Zauważyliśmy również, że za nimi są nasze oddziały. Rzymianie zostali okrążeni. Widoczne było, że ich
            generał jest w środku swoich legionów.<br>
            Nagle ku mojemu zdziwieniu skończyły mi się strzały, tak samo części innych wojowników. Ale akurat Rzymianie
            już byli blisko, ustawiliśmy się na szczycie naszych umocnień i zrzucaliśmy wspinających się Rzymian. Nagle
            dostaliśmy rozkaz aby zaatakować. Zaczęliśmy biec w ich stronę, każdy Rzymianin którego mijaliśmy padał
            martwy lub ranny. Wielu wrogów biegło w naszą stronę, lecz nie na wiele im się to zdawało. Kiedy zbliżało
            się południe, zobaczyłem, że Rzymscy generałowie popełniają samobójstwo, byliśmy i tak już pewni zwycięstwa.
            Dobiliśmy resztki ich niby potężnej armii, wzięliśmy blisko 1000 jeńców, którzy zostali wzięci jako
            niewolnicy do większych miast naszych plemion. Nasz generał stwierdził, że czas teraz przejść do ataku,
            rozdzielił nas na mniejsze zgrupowania, aby gnębić więcej rzymskich miejscowości naraz. Natychmiast
            wyruszyliśmy dalej, przebyliśmy rzekę bez większych problemów i znowu byliśmy na drodze prowadzącej do walk.
            Oddziały tym razem zostały podzielone według wiosek z których przybyto, wysłaliśmy łupy wraz z 20 kobietami
            (żadna nie zginęła podczas walki w lesie). Żadna z kobiet nie zginęła, ale nasza wioska miała straty liczące
            20 mężczyzn, tak więc nasz oddział liczący 60 ludzi wyruszył aby ograbić inne rzymskie wioski.
        </p>
    </div>
</div>