<div class="card">
    <div class="card-body">
        <h5 class="card-title">Rozdział I</h5>
        <p class="card-text text-justify">Trzymałem łuk, obserwowałem uważnie jelenia. Celuje, strzelam, jeleń pada na ziemię. Wołam
            drugiego myśliwego, razem podchodzimy do martwego zwierzęcia. Łapiemy go za tylne nogi i ciągniemy do
            wioski, jest bardzo ciężki, to dobrze, bo będzie więcej jedzenia dla mieszkańców naszej wioski. Kiedy
            dotarliśmy do wioski, mój ojciec bardzo ucieszył się na mój widok – przyniosłem zdobycz z mojej drugiej
            wyprawy myśliwskiej.<br>
            Miałem 15 lat, byłem drugim od najstarszego synem naszego wodza, byliśmy plemieniem germańskim. Mój starszy
            brat miał 17 lat. Utrzymywaliśmy się głównie z polowania w okolicznych lasach, nasze kobiety często chodziły
            również zbierać różne owoce, a nawet polować na dziką zwierzynę. Mieliśmy również kilka krów, a w całej
            naszej wiosce było bardzo dużo psów. Natomiast w naszej wiosce żyło około 500 ludzi, licząc kobiety i
            dzieci.<br>
            Ja i mój starszy brat (który był tym drugim myśliwym) wymieniliśmy skórę naszego jelenia na garniec masła z
            krowiego mleka. Kiedy wracaliśmy do naszej chaty zauważyliśmy konie, było to dziwne, bo w naszej wiosce nikt
            konia nie miał, oznaczało, to że przybyli jacyś handlarze lub posłańcy, od głównego wodza germańskich
            plemion, nie mogło to oznaczać zbyt wiele dobrego.<br>
            Gdy byliśmy jakieś dziesięć metrów od wejścia do naszej chaty, wyszedł z niej nasz ojciec, widać było że
            jest bardzo zmartwiony, oprócz niego wyszło jeszcze dwóch mężczyzn, których nie poznałem. Ojciec zatrzymał
            się w wejściu, oni natomiast wsiedli na konie i odjechali. Mogło to oznaczać tylko jedno – po ostatnich
            posiłkach jakie zapewniliśmy w wojnie z Rzymem, przybyli po kolejne.<br>
            Ojciec nas zauważył i powiedział do nas, że musi wysłać jeszcze 100 ludzi na wojnę. Ze względu na to, że nie
            mógł zostawić samych kobiet i starców, zdecydował, że weźmie 80 mężczyzn i 20 kobiet. Kazał wszystkim zebrać
            się na placu i ustawić według wieku, a następnie rozpoczął przemowę:<br>
            - W związku z wezwaniem związku plemion germańskich, musimy wystawić 100 wojowników gotowych na wiele
            wyrzeczeń. Zostanie wybrane 80 mężczyzn i 20 kobiet. Proszę o zgłoszenie się ochotników.<br>
            Zgłosiłem się, chcąc zdobyć sławę i bogactwo, aby założyć rodzinę. Oprócz mnie zgłosił się również mój brat.
            Ojciec mnie przyjął do oddziału, lecz jemu odmówił i powierzył obowiązki przewodniczenia wiosce na czas jego
            nieobecności. Wieczorem już mieliśmy skompletowany oddział, którym dowodził nasz wódz. Przykazał nam się
            przygotować i wziąć miecz lub włócznie, tarczę, łuk i strzały, a jeżeli ktoś posiada, to również zbroję.<br>
            Następnego dnia wyruszyliśmy w stronę Lupfurdum. Szliśmy blisko 3 dni, po drodze polując na zwierzynę.
        </p>
    </div>
</div>